:root {
  --darkred: color(var(--red) shade(10%));
}
#statinamic {
  min-height: 100vh;
}

.vh-100 {
  min-height: 100vh;
}

.bg-red {
  background-color: var(--red);
}

.red {
  color: var(--red);
}

.hover-red {
  @nest &:hover {
    color: var(--red);
  }
}

.bg-darkred {
  background-color: var(--darkred);
}

.darkred {
  color: var(--darkred);
}

.hover-darkred {
  @nest &:hover {
    color: var(--darkred);
  }
}

.bg-hover-darkred {
  @nest &:hover {
    background-color: var(--darkred);
  }
}

.filled {
  fill: currentColor;
}

a {
  color: currentColor;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

.serif {
  font-family: source-serif-pro,
               georgia,
               times,
               serif;
}

.sans {
  font-family: vortice-concept,
               sans-serif;
}

.SVGInline-svg {
  width: auto;
  height: 100%;
}

.mha {
  margin-left: auto;
  margin-right: auto;
}

.content {
  @nest & a {
    color: color(var(--red) shade(5%));
    text-decoration: none;
    @nest &:hover {
      color: color(var(--red) shade(20%));
      text-decoration: underline;
    }
  }
}

.df {
  display: flex;
}

.Grid-md--fit > .Grid-cell {
  @media(--breakpoint-medium) {
    flex: 1 1 0%;
  }
}

.oh {
  overflow: hidden;
}

.flx1 {
  flex: 1 1 auto;
}

.flxcol {
  flex-direction: column;
}

.flx0 {
  flex: 0 0 auto;
}

.oys {
  overflow-y: scroll;
}
